@page "/welcome"

<div class="welcome-container">
    <img src="/coffee.jpg" class="welcome-image" />
    <div class="welcome-text">
        <h1 class="coffee-name">Coffee Night</h1>
        <p class="welcome-message">Your favorite coffee, delivered to your door.</p>
    </div>
</div>

@code{
     [Inject]
    NavigationManager Navigation { get; set; }
   protected override async Task OnAfterRenderAsync(bool firstRender)// called after the component has been rendered
    {
        if (firstRender)
        {
            await Task.Delay(5000);      // present welcome page for 10s
          // Navigation.NavigateTo("/menu");
        }
    }
}