/*design for Laptop  */

.welcome-container{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgba(95, 91, 91, 0.726);
    /* box-sizing: border-box; */
}
.welcome-image{
    width: 85vw;
    height:93vh;
    border-radius: 0 10px 600px 10px;
    filter: blur(1px);
}
.welcome-text{
    background-color: rgba(255, 255, 0, 0.849);
    box-shadow: 5px 5px 15px 3px rgb(0, 0, 0);
    width:30vw;
    height:25vh;
    left:50px;
    border-radius:200px 10px 0 200px;
    position: absolute;
    margin-left:65vw ;
    margin-top: 50vh;
    padding: 25px;
}
.coffee-name{
    margin-left:4vw ;
    color:rgb(255, 255, 255);
   
     animation: slideInOut 5s ease-in-out forwards;
}
@keyframes slideInOut {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    95% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(30px);
    }
}
